$chatTheme: #3387f9;
.virtual-assistant-main {
  position: fixed;
  z-index: 1010;
  right: 30px;
  bottom: 108px;
}
.virtual-assistant-toggle {
  background: $chatTheme;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 0;
  color: #fff;
  position: fixed;
  z-index: 1010;
  right: 30px;
  bottom: 22px;
  padding: 0;
}
.virtual-assistant {
  width: 373px;
  height: 580px;
  max-height: calc(100vh - 268px);
  background: #fff;
  box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  .overlay-disabled {
    position: relative;
    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      cursor: not-allowed;
    }
  }
  &-modal {
    border-radius: 12px;
    box-shadow: 0 -6.9px 16px 0 rgba(0, 0, 0, 0.09);
    position: absolute;
    z-index: 99;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 400px;
    background: #fff;
    animation: 1s v-modal;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    &-backdrop {
      background: #fff;
      position: absolute;
      z-index: 98;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
    }
    .vam-header {
      position: relative;
      .close {
        position: absolute;
        right: 0;
        top: 4px;
      }
    }
    .vam-title {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 0;
    }

    .vam-body {
      max-height: 100%;
      overflow: auto;
      &::-webkit-scrollbar-thumb {
        background: #f1f0f0;
        border-radius: 0;
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: #fff;
      }
    }
  }
}
@keyframes cortana {
  0% {
    box-shadow: 0 0 0 10px #72bffb, 0 0 0 30px rgba(#72bffb, 0.2);
  }

  100% {
    box-shadow: 0 0 0 15px #72bffb, 0 0 0 25px rgba(#72bffb, 0.2);
  }
}
@keyframes cortana-top {
  0% {
    box-shadow: 0 0 0 6px #72bffb, 0 0 0 18px rgba(#72bffb, 0.2);
  }

  100% {
    box-shadow: 0 0 0 9px #72bffb, 0 0 0 15px rgba(#72bffb, 0.2);
  }
}
@keyframes v-modal {
  from {
    transform: translateY(100%);
  }
}
.v-listner {
  .wrapper {
    padding-top: 100px;
    transition: 0.5s;
    &.top {
      padding-top: 0;
      display: flex;
      align-items: center;
      padding-top: 6px;
      padding-left: 6px;
      .listing {
        margin: 0;
        // transform: scale(0.4);
        width: 30px;
        height: 30px;
        margin-right: 24px;
        box-shadow: 0 0 0 6px #72bffb, 0 0 0 24px rgba(#72bffb, 0.2);
        animation: cortana-top 1.5s infinite ease-in-out alternate;
      }
      .listing-msg {
        font-weight: 500;
        font-size: 14px;
      }
    }
    .listing {
      margin: auto;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #72bffb, 0 0 0 40px rgba(#72bffb, 0.2);
      animation: cortana 1.5s infinite ease-in-out alternate;
      margin-bottom: 40px;
      transition: 0.5s;
    }
    .listing-msg {
      font-size: 16px;
      text-align: center;
      font-weight: 800;
      color: rgba(60, 60, 60, 0.9);
      transition: 0.5s;
    }
  }
}
.assistant-options {
  button {
    font-size: 13px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: left;
    padding: 6px 17px;
    white-space: nowrap;
    border: 0;
    border-radius: 8px;
    box-shadow: none !important;
    &:before {
      content: "";
      background-image: url("../images/virtual-assistant/buttonOverlay.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img {
      width: 18px;
      position: relative;
      top: -2px;
    }
  }
}
.chatBotBtn {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
  margin: 10px 0;
  svg {
    fill: $chatTheme;
  }
}
.assistant-meeting {
  .meetings {
    font-size: 16px;
    color: rgb(118, 118, 118);
    margin-bottom: 20px;
    img {
      width: 18px;
      position: relative;
      top: -2px;
    }
  }
}

.createMeeting {
  .form-group {
    position: relative;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
  }
  input {
    position: relative;
    border-color: rgba(#7e8189, 0.2);
    font-size: 14px;
    color: rgb(112, 112, 112);
    &:focus {
      box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
      border-color: rgba(126, 129, 137, 0.1);
      & + label {
        top: 0;
        font-size: 11px;
      }
    }
    &:not(:placeholder-shown) {
      & + label {
        top: 0;
        font-size: 11px;
      }
    }
  }
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding-left: 12px;
    transition: 0.4s;
    padding: 0px 5px;
    left: 12px;
    color: #a6a8ac;
    font-size: 13px;
  }
  .meetings-dropdown {
    display: flex;
    align-items: center;
    .virtual-dropdown {
      margin-right: 15px;
    }
  }
}
.virtual-dropdown {
  &.disable {
    opacity: 0.1;
  }
  .dropdown-toggle {
    background: rgba(227, 227, 227, 0.2) !important;
    color: rgba(160, 160, 160, 0.8) !important;
    border: 0 !important;
    font-size: 13px;
    border-radius: 15px;
    min-width: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    box-shadow: none !important;
  }
  .dropdown-menu {
    font-size: 13px;
  }
}
.DTCardWrapper {
  position: relative;
  .react-datepicker {
    &__input-container {
      position: initial;
    }
    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    &-popper {
      width: 290px;
    }
  }
}
.timerCard {
  min-height: 92px;
  padding: 10px 10px 10px 15px;
  border-radius: 8px;
  height: 100%;
  position: relative;
  &.start {
    background: #09d8aa;
  }
  &.end {
    background: #fb5f5d;
  }
  &:before {
    content: "";
    background-image: url("../images/virtual-assistant/timerOverlay.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.disable {
    opacity: 0.1;
  }

  p {
    margin-bottom: 0;
  }
  .timer {
    text-align: center;
    margin-top: 10px;
    .time {
      font-size: 29px;
      font-weight: 700;
      line-height: 29px;
    }
    .date {
      font-size: 13px;
    }
  }
  .timeLabel {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.right-arrow {
  background: $chatTheme !important;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 0;
  &:focus {
    box-shadow: 0 0 0 0 rgba($chatTheme, 0.5) !important;
  }
}
.list-title {
  font-size: 13px;
  font-weight: 600;
  color: rgba(60, 60, 60, 0.7);
}
.add-participants {
  padding: 16px 20px;
  .user-profile {
    .profile-img {
      width: 37px;
      height: 37px;
      border-radius: 100%;
      background: #fafafa;
      box-shadow: 0 0 0 4px #fff;
      object-fit: cover;
      &:not(:first-child) {
        margin-left: -7px;
      }
    }
  }
  .search-wrapper {
    margin: 18px 0;
    input {
      border-radius: 30px;
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
    ::-webkit-input-placeholder {
      color: rgba(60, 60, 60, 0.2);
    }

    :-ms-input-placeholder {
      color: rgba(60, 60, 60, 0.2);
    }

    ::placeholder {
      color: rgba(60, 60, 60, 0.2);
    }
  }
  .recentUserListWrapper {
    .recentUserList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .authorImg {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        margin-right: 10px;
      }
      .name {
        color: #767676;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
.participantsUsers {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  img {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    margin-right: 10px;
    object-fit: cover;
  }
  .add-user {
    width: 41px;
    height: 41px;
    border-radius: 100%;
    background: rgb(197, 221, 255);
    border: 1px solid rgb(126, 180, 254);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: $chatTheme;
    }
  }
}
.doneBtn {
  background: $chatTheme !important;
  border: 0 !important;
  width: 100px;
  box-shadow: none !important;
}

.meeting-success {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h4 {
    font-size: 17px;
    font-weight: 900;
    color: rgba(60, 60, 60, 0.9);
    margin-top: 15px;
    max-width: 200px;
  }
}

.meetings-details {
  .detailsCard {
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    padding: 7px;
    &.red {
      background: rgba(255, 195, 194, 0.7) !important;
      color: rgba(255, 57, 54, 0.8) !important;
      border-color: rgba(255, 173, 172, 0.7) !important;
      i {
        color: rgba(255, 57, 54, 0.8);
      }
    }
    &.green {
      background: rgba(172, 253, 235, 0.7) !important;
      color: rgba(1, 160, 125, 0.8) !important;
      border-color: rgba(76, 252, 213, 0.7) !important;
      i {
        color: rgba(1, 160, 125, 0.8);
      }
    }
    &.orange {
      background: rgba(255, 204, 171, 0.7) !important;
      color: rgba(255, 113, 22, 0.8) !important;
      border-color: rgba(254, 178, 130, 0.7) !important;
      i {
        color: rgba(255, 113, 22, 0.8);
      }
    }
    h4 {
      font-size: 13px;
      margin-bottom: 0;
      flex: 0 0 95px;
      max-width: 95px;
      padding-left: 25px;
      font-weight: 800;
      font-style: italic;
      &:after {
        content: "";
        width: 2px;
        height: 11px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      flex: 0 0 calc(100% - 95px);
      max-width: calc(100% - 95px);
      li {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}
.add-documnets {
  padding: 10px;
  .add-file {
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      font-size: 16px;
      font-weight: 500;
      color: rgb(203, 203, 203);
      span {
        color: $chatTheme;
        font-weight: 600;
      }
    }
  }
  .file-details-wrapper {
    margin-top: 20px;
    .detail-list {
      display: flex;
      align-items: center;
      font-size: 13px;

      margin-bottom: 5px;
      &.error {
        p {
          background: rgba(251, 95, 93, 0.15);
          color: rgba(251, 95, 93, 0.8);
        }
      }
    }
    .file-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 calc(100% - 50px);
      max-width: calc(100% - 50px);
      padding-right: 10px;
      p {
        color: rgb(118, 118, 118);
        padding: 8px 10px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 3px;
        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 164px;
          display: inline-block;
        }
        .file-name {
          display: flex;
          flex: 0 0 calc(100% - 50px);
          max-width: calc(100% - 50px);
        }
        .file-size {
          flex: 0 0 50px;
          max-width: 50px;
          text-align: center;
        }
      }
      svg {
        fill: #cbcbcb;
        margin-left: 13px;
      }
    }
    .process-error {
      flex: 0 0 50px;
      max-width: 50px;
      text-align: center;
      font-weight: 600;
      color: rgba(251, 95, 93, 0.8);
    }
  }
}
